/012 реестры + файлы
/013 животные без владельцев + файлы
/animal_cards_registry_part1.json
/catch_orders_registry_part1.json
/stray_animals_registry_part1.json
/universal
/universal_v2
/universal_v2.zip
/Инструкция по применению скрипта валидации.docx
/Инструкция по применению скрипта миграции.docx
/Инструкция по применению скрипта отката.docx
/Миграция возвращение.rar
/Скрипт валидации
/Скрипты миграции
/Скрипты отката
/Технология_проверки_работоспособности_скриптов.docx
/Форма_для_миграции_Мой_питомец_136_1.xlsm
# Runtime artifacts
universal_myPet/logs/script_creation_log-*.txt
universal_myPet/logs/success_log-*.txt
universal_myPet/logs/fail_log-*.txt
